* {
    margin: 0;
    box-sizing: border-box;
}

#heading {
    color: yellow;
    font-family: sans-serif;
    text-align: center;
    padding: 24px 0px;
    background-color: black;
    width: 100vw;
}

.content {
    display: block;
    height: 100vh;
    background-color: rgb(54, 84, 218);
}

.list-courses {
    font-size: 20px;
}

#table {
    margin-left:auto; 
    margin-right:auto;
}

.input {
    color: white;
    font-size: 20px;
}

div.input > h3 {
    text-align: center;
    color: yellow;
}

button.createbtn {
    border: none;
    border-radius: 5px;
    background-color:red;
    color: white;
    padding: 12px 12px;
    cursor: pointer;
    font-size: 17.5px;
}

/* POPUP */
.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}
  
.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}
  
.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}
  
.formContainer input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
}
  
.formContainer input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
  
.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}
  
.formContainer .cancel {
    background-color: #cc0000;
}
  
.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}